/**
 * Canvas
 */
main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-size: var(--grid-size) var(--grid-size);
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}
.canvas {
    width: 1000vw;
    height: 1000vh;
    transform-origin: center center;
}
.center {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: red;
    /* translate: 500vw 500vh; */
    z-index: 10000;
}



/**
 * Table
 */
.canvas-table {
    --bg-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 200px;
    font-size: 12px;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: var(--z-table-normal);
}
.canvas-table header {
    position: relative;
    background-color: black;
    padding: 8px 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    cursor: grab;
    transition: all 0.1s;
}
.canvas-table ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-color 0.1s;
}
.canvas-table ol li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 8px;
    border-bottom: 1px solid var(--border-color);
    color: var(--dark-color);
}
.canvas-table ol li:last-child {
    border-bottom: none;
}
.canvas-table ol li b {
    color: var(--black-color);
}
.canvas-table ol li span:last-child {
    color: var(--lighter-color);
    margin-left: 16px;
    font-size: 10px;
}

.schema-hide.schema-hide {
    display: none;
}
.schema-hidden.schema-hidden {
    color: var(--lighter-color);
    cursor: pointer;
}

.canvas-table .close {
    --close-color: white;
    --close-size: 12px;
    --close-width: 12px;
    --close-height: 1px;
    position: absolute;
    top: calc(30px / 2 - var(--close-size) / 2);
    right: 6px;
}


.canvas-table.selected {
    z-index: var(--z-table-selected);
}
.canvas-table.selected ol {
    border-color: var(--main-color);
}
.canvas-table.selected ol li {
    border-color: var(--main-color);
}

.canvas-table.disabled {
    z-index: var(--z-table-disabled);
}
.canvas-table.disabled header {
    background-color: var(--border-color);
    color: var(--disabled-color);
}
.canvas-table.disabled ol li,
.canvas-table.disabled ol li b {
    color: var(--disabled-color);
}
.canvas-table.disabled .close {
    --close-color: var(--disabled-color);
}

.canvas-table.dragging {
    z-index: var(--z-table-dragging);
}
.canvas-table.dragging header {
    cursor: grabbing;
}



/**
 * Link
 */
.schema-link {
    --bg-color: var(--lighter-color);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: var(--z-link-normal);
}
.schema-link path {
    fill: none;
    stroke: var(--bg-color);
    stroke-width: 2;
    transition: stroke 0.1s;
}
.schema-link polygon {
    fill: var(--bg-color);
    stroke: none;
    transition: fill 0.1s;
}

.schema-link.disabled.disabled {
    --bg-color: var(--border-color);
    z-index: var(--z-link-disabled);
}



/**
 * Colors
 */
.canvas-table li.colored {
    color: black;
    background-color: var(--bg-color);
}
.canvas-table li.colored b {
    color: black;
}
.canvas-table li.colored span:last-child {
    color: black;
}

.color1.color1 {
    --bg-color: var(--selected-color1);
}
.color2.color2 {
    --bg-color: var(--selected-color2);
}
.color3.color3 {
    --bg-color: var(--selected-color3);
}
.color4.color4 {
    --bg-color: var(--selected-color4);
}
.color5.color5 {
    --bg-color: var(--selected-color5);
}
.color6.color6 {
    --bg-color: var(--selected-color6);
}
.color7.color7 {
    --bg-color: var(--selected-color7);
}
.color8.color8 {
    --bg-color: var(--selected-color8);
}



/**
 * Group
 */
.group {
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: var(--z-group);
    opacity: 0.5;
}
.group.selected {
    opacity: 1;
}
.group header {
    position: absolute;
    top: 4px;
    left: 8px;
    font-weight: bold;
    pointer-events: all;
    cursor: grab;
}
.group.dragging header {
    cursor: grabbing;
}
.group .close {
    position: absolute;
    top: 6px;
    right: 6px;
    pointer-events: all;
}



/**
 * Selector
 */
.selector {
    position: absolute;
    display: none;
    border: 1px dashed black;
    background-color: rgba(250, 250, 250, 0.3);
}
