/**
 * Canvas
 */
main {
    position: absolute;
    top: 0;
    left: var(--aside-width);
    right: 0;
    bottom: 0;
    overflow: auto;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}
.canvas {
    width: calc(8 * (100vw - var(--aside-width)));
    height: 800vh;
}



/**
 * Table
 */
.schema-table {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    z-index: var(--z-table-normal);
}
.schema-table header {
    position: relative;
    background-color: var(--main-color);
    padding: 8px 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    cursor: grab;
    transition: all 0.1s;
}
.schema-table ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-color 0.1s;
}
.schema-table ol li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 8px;
    border-bottom: 1px solid var(--border-color);
    color:rgb(50, 50, 50);
}
.schema-table ol li:last-child {
    border-bottom: none;
}
.schema-table ol li b {
    color: black;
}
.schema-table ol li span:last-child {
    color: var(--light-color);
    margin-left: 16px;
    font-size: 12px;
}

.schema-hide.schema-hide {
    display: none;
}
.schema-hidden.schema-hidden {
    color: var(--light-color);
    cursor: pointer;
}

.schema-table .close {
    --close-color: white;
    --close-size: 12px;
    --close-width: 12px;
    --close-height: 1px;

    position: absolute;
    top: calc(33px / 2 - var(--close-size) / 2);
    right: 6px;
}


.schema-table.selected {
    z-index: var(--z-table-selected);
}
.schema-table.selected ol {
    border-color: var(--main-color);
}
.schema-table.selected ol li {
    border-color: var(--main-color);
}

.schema-table.disabled {
    z-index: var(--z-table-disabled);
}
.schema-table.disabled header {
    background-color: var(--border-color);
    color: var(--disabled-color);
}
.schema-table.disabled ol li,
.schema-table.disabled ol li b {
    color: var(--disabled-color);
}
.schema-table.disabled .close {
    --close-color: var(--disabled-color);
}

.schema-table.dragging {
    z-index: var(--z-table-dragging);
}
.schema-table.dragging header {
    cursor: grabbing;
}



/**
 * Link
 */
.schema-link {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: var(--z-link-normal);
}
.schema-link path {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 2;
    transition: stroke 0.1s;
}
.schema-link polygon {
    fill: var(--main-color);
    stroke: none;
    transition: fill 0.1s;
}

.schema-link.disabled {
    z-index: var(--z-link-disabled);
}
.schema-link.disabled path {
    stroke: var(--border-color);
}
.schema-link.disabled polygon {
    fill: var(--border-color);
}



/**
 * Colors
 */
.schema-table li.colored,
.schema-table li.colored span:last-child {
    color: black;
}

.schema-table li.color1 {
    background-color: var(--selected-color1);
}
.schema-link.color1 path {
    stroke: var(--selected-color1);
}
.schema-link.color1 polygon {
    fill: var(--selected-color1);
}

.schema-table li.color2 {
    background-color: var(--selected-color2);
}
.schema-link.color2 path {
    stroke: var(--selected-color2);
}
.schema-link.color2 polygon {
    fill: var(--selected-color2);
}

.schema-table li.color3 {
    background-color: var(--selected-color3);
}
.schema-link.color3 path {
    stroke: var(--selected-color3);
}
.schema-link.color3 polygon {
    fill: var(--selected-color3);
}

.schema-table li.color4 {
    background-color: var(--selected-color4);
}
.schema-link.color4 path {
    stroke: var(--selected-color4);
}
.schema-link.color4 polygon {
    fill: var(--selected-color4);
}

.schema-table li.color5 {
    background-color: var(--selected-color5);
}
.schema-link.color5 path {
    stroke: var(--selected-color5);
}
.schema-link.color5 polygon {
    fill: var(--selected-color5);
}

.schema-table li.color6 {
    background-color: var(--selected-color6);
}
.schema-link.color6 path {
    stroke: var(--selected-color6);
}
.schema-link.color6 polygon {
    fill: var(--selected-color6);
}



/**
 * Zoom
 */
.zoom {
    position: absolute;
    top: 24px;
    right: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: var(--z-zoom);
}
.zoom li {
    width: 36px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    transition: background-color 0.2s;
    cursor: pointer;
}
.zoom li:hover {
    background-color: var(--grid-color);
}
.zoom li:first-child {
    border-bottom: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.zoom li:last-child {
    border-top: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.zoom-disabled.zoom-disabled {
    color: rgb(200, 200, 200);
    cursor: not-allowed;
}
.zoom-percent.zoom-percent {
    height: auto;
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
}



/**
 * Group
 */
.grouper {
    box-sizing: border-box;
    position: absolute;
    top: 124px;
    right: 24px;
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}
.grouper:hover {
    background-color: var(--grid-color);
}
.grouper svg {
    width: 100%;
}

.group {
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: var(--z-group);
    opacity: 0.5;
}
.group.selected {
    opacity: 1;
}
.group header {
    position: absolute;
    top: 4px;
    left: 8px;
    font-weight: bold;
    pointer-events: all;
    cursor: grab;
}
.group.dragging header {
    cursor: grabbing;
}
.group .close {
    position: absolute;
    top: 6px;
    right: 6px;
    pointer-events: all;
}



/**
 * Selector
 */
.selector {
    position: absolute;
    display: none;
    border: 1px dashed black;
    background-color: rgba(250, 250, 250, 0.3);
}
