/**
 * Properties
 */
:root {
    --main-color: #061e2e;
    --light-color: rgb(118, 130, 139);
    --border-color: rgb(224, 224, 224);
    --disabled-color: rgb(94, 109, 120);
    --grid-color: rgb(242, 242, 242);
    --box-shadow: 2px 2px 9px rgb(209, 209, 209);

    --selected-color1: rgb(54, 162, 235);
    --selected-color2: rgb(255, 205, 86);
    --selected-color3: rgb(255, 99, 132);
    --selected-color4: rgb(75, 192, 192);
    --selected-color5: rgb(255, 159, 64);
    --selected-color6: rgb(153, 102, 255);

    --main-font: Lato, "Helvetica Nueue", Helvetica, Arial, sans-serif;
    --title-font: Esteban, Georgia, serif;

    --aside-width: 300px;
    --header-height: 72px;
    --filter-height: 33px;
    --border-radius: 6px;

    --z-link-disabled: 1;
    --z-link-normal: 2;
    --z-table-disabled: 3;
    --z-table-normal: 4;
    --z-table-selected: 5;
    --z-table-dragging: 6;

    --z-aside: 1;
    --z-resizer: 97;
    --z-arrow: 98;
    --z-zoom: 99;
    --z-dialog: 100;
}



/**
 * Fonts
 */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: local("Lato"), url("../fonts/lato-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: local("Lato"), url("../fonts/lato-bold.ttf") format("truetype");
}
@font-face {
    font-family: "Esteban";
    font-style: normal;
    font-weight: normal;
    src: local("Esteban"), url("../fonts/esteban.ttf") format("truetype");
}



/**
 * Main Styles
 */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}
html, body, input {
    color: black;
    font-size: 14px;
    font-family: var(--main-font);
}



/**
 * Buttons
 */
.btn {
    display: inline-block;
    padding: 4px 12px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 9999px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover {
    color: white;
    background-color: var(--main-color);
}

.btn-fill {
    color: white;
    background-color: var(--main-color);
}
.btn-fill:hover {
    color: var(--main-color);
    background-color: white;
}

.btn + .btn {
    margin-left: 8px;
}



/**
 * Inputs
 */
.field {
    margin-bottom: 16px;
}
input {
    box-sizing: border-box;
    min-width: 320px;
    padding: 6px 12px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 99999px;
}
input:focus {
    outline: none;
    border-color: var(--main-color);
}
.input-file {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
    padding: 3px 3px 3px 12px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 99999px;
}

.error {
    display: none;
    color: rgb(188, 28, 72);
    font-size: 14px;
    margin-top: 4px;
}



/**
 * Aside Styles
 */
aside {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--aside-width);
    bottom: 0;
    border-right: 1px solid var(--border-color);
    background-color: white;
    z-index: var(--z-aside);
}
aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 16px;
}
h1 {
    margin: 0;
    font-family: var(--title-font);
    font-size: 40px;
    line-height: 1;
    color: var(--main-color);
    transform-origin: top left;
    transition: transform 0.1s;
}



/**
 * Aside Resizer
 */
.aside-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -4px;
    width: 4px;
    cursor: ew-resize;
    z-index: var(--z-resizer);
    transition: all 0.2s;
}
.aside-resizer:hover {
    background-color: var(--main-color);
}

.aside-arrow.aside-arrow {
    --arrow-size: 8px;
    --arrow-width: 8px;
    --arrow-space: 7px;
    --arrow-height: 1px;

    position: absolute;
    top: 24px;
    right: 1px;
    padding: 7px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transform: translate(50%);
    transition: all 0.2s;
    z-index: var(--z-arrow);
}
.aside-arrow:hover {
    --arrow-color: white;
    border-color: var(--main-color);
    background-color: var(--main-color);
}
.aside-dragging .aside-arrow {
    opacity: 0;
}


.aside-small h1 {
    transform: translateX(32px) rotate(90deg);
    margin-right: 16px;
}
.aside-small .btn {
    opacity: 0;
}
.aside-small:not(.aside-dragging) .aside-resizer {
    display: none;
}
.aside-small .aside-arrow {
    opacity: 0;
    transform: translate(50%) rotate(180deg);
}
.aside-small .schema-filter,
.aside-small .schema-list {
    opacity: 0;
    pointer-events: none;
}


.aside-small:not(.aside-dragging):hover {
    width: var(--arrow-width) !important;
}
.aside-small:not(.aside-dragging):hover h1 {
    transform: none;
    margin-right: 0;
}
.aside-small:not(.aside-dragging):hover .btn {
    opacity: 1;
}
.aside-small:not(.aside-dragging):hover .aside-arrow {
    opacity: 1;
}
.aside-small:not(.aside-dragging):hover .schema-filter,
.aside-small:not(.aside-dragging):hover .schema-list {
    opacity: 1;
    pointer-events: all;
}



/**
 * Filter Styles
 */
.schema-filter {
    display: none;
    position: relative;
    align-items: center;
    padding: 0 12px 4px 12px;
    transition: opacity 0.2s;
}
.schema-filter input {
    width: calc(100% - 30px);
    min-width: 0;
    border: none;
}
.schema-filter::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.schema-filter::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 26px;
    width: 4px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 2px;
    transform: rotate(-45deg);
}
.schema-filter .close {
    --close-size: 18px;
    --close-width: 18px;
    --close-height: 2px;
    display: none;
    margin-right: 8px;
}

.schema-total {
    white-space: nowrap;
}



/**
 * Schema List Styles
 */
.schema-list {
    border-top: 1px solid var(--border-color);
    height: calc(100vh - var(--header-height) - var(--filter-height));
    overflow: auto;
    transition: opacity 0.2s;
}
.schema-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.schema-list ol li {
    box-sizing: border-box;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border-bottom: 1px solid var(--border-color);
}
.schema-list ol li .selectable {
    cursor: pointer;
}



/**
 * Content Styles
 */
main {
    position: absolute;
    top: 0;
    left: var(--aside-width);
    right: 0;
    bottom: 0;
    overflow: auto;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}
.canvas {
    width: calc(4 * (100vw - var(--aside-width)));
    height: 400vh;
}



/**
 * Table Styles
 */
.schema-table {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    z-index: var(--z-table-normal);
}
.schema-table header {
    position: relative;
    background-color: var(--main-color);
    padding: 8px 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    cursor: grab;
    transition: all 0.1s;
}
.schema-table ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-color 0.1s;
}
.schema-table ol li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 8px;
    border-bottom: 1px solid var(--border-color);
    color:rgb(50, 50, 50);
}
.schema-table ol li:last-child {
    border-bottom: none;
}
.schema-table ol li b {
    color: black;
}
.schema-table ol li span:last-child {
    color: var(--light-color);
    margin-left: 16px;
    font-size: 12px;
}

.schema-hide.schema-hide {
    display: none;
}
.schema-hidden.schema-hidden {
    color: var(--light-color);
    cursor: pointer;
}

.schema-table .close {
    --close-color: white;
    --close-size: 12px;
    --close-width: 12px;
    --close-height: 1px;

    position: absolute;
    top: calc(33px / 2 - var(--close-size) / 2);
    right: 6px;
}


.schema-table.selected {
    z-index: var(--z-table-selected);
}
.schema-table.selected ol {
    border-color: var(--main-color);
}
.schema-table.selected ol li {
    border-color: var(--main-color);
}

.schema-table.disabled {
    z-index: var(--z-table-disabled);
}
.schema-table.disabled header {
    background-color: var(--border-color);
    color: var(--disabled-color);
}
.schema-table.disabled ol li,
.schema-table.disabled ol li b {
    color: var(--disabled-color);
}
.schema-table.disabled .close {
    --close-color: var(--disabled-color);
}

.schema-table.dragging {
    z-index: var(--z-table-dragging);
}
.schema-table.dragging header {
    cursor: grabbing;
}



/**
 * Link Styles
 */
.schema-link {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: var(--z-link-normal);
}
.schema-link path {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 2;
    transition: stroke 0.1s;
}
.schema-link polygon {
    fill: var(--main-color);
    stroke: none;
    transition: fill 0.1s;
}

.schema-link.disabled {
    z-index: var(--z-link-disabled);
}
.schema-link.disabled path {
    stroke: var(--border-color);
}
.schema-link.disabled polygon {
    fill: var(--border-color);
}



/**
 * Schema Colors
 */
.schema-table li.colored,
.schema-table li.colored span:last-child {
    color: black;
}

.schema-table li.color1 {
    background-color: var(--selected-color1);
}
.schema-link.color1 path {
    stroke: var(--selected-color1);
}
.schema-link.color1 polygon {
    fill: var(--selected-color1);
}

.schema-table li.color2 {
    background-color: var(--selected-color2);
}
.schema-link.color2 path {
    stroke: var(--selected-color2);
}
.schema-link.color2 polygon {
    fill: var(--selected-color2);
}

.schema-table li.color3 {
    background-color: var(--selected-color3);
}
.schema-link.color3 path {
    stroke: var(--selected-color3);
}
.schema-link.color3 polygon {
    fill: var(--selected-color3);
}

.schema-table li.color4 {
    background-color: var(--selected-color4);
}
.schema-link.color4 path {
    stroke: var(--selected-color4);
}
.schema-link.color4 polygon {
    fill: var(--selected-color4);
}

.schema-table li.color5 {
    background-color: var(--selected-color5);
}
.schema-link.color5 path {
    stroke: var(--selected-color5);
}
.schema-link.color5 polygon {
    fill: var(--selected-color5);
}

.schema-table li.color6 {
    background-color: var(--selected-color6);
}
.schema-link.color6 path {
    stroke: var(--selected-color6);
}
.schema-link.color6 polygon {
    fill: var(--selected-color6);
}



/**
 * Zoom Styles
 */
.zoom {
    position: absolute;
    top: 24px;
    right: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: var(--z-zoom);
}
.zoom li {
    width: 36px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    transition: background-color 0.2s;
    cursor: pointer;
}
.zoom li:hover {
    background-color: rgb(242, 242, 242);
}
.zoom li:first-child {
    border-bottom: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.zoom li:last-child {
    border-top: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.zoom-disabled.zoom-disabled {
    color: rgb(200, 200, 200);
    cursor: not-allowed;
}
.zoom-percent.zoom-percent {
    height: auto;
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
}



/**
 * The Dialogs
 */
.backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-dialog);
    background-color: rgba(0, 0, 0, 0.3);
}
dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: 0;
    padding: 32px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    text-align: center;
}
dialog h2 {
    margin-top: 0;
    color: var(--main-color);
    font-family: var(--title-font);
    font-size: 28px;
}
dialog .close {
    --close-color: var(--main-color);
    --close-size: 20px;
    --close-width: 20px;
    --close-height: 2px;

    position: absolute;
    top: 12px;
    right: 12px;
}

.select-dialog dialog {
    width: 500px;
}
.select-list {
    list-style: none;
    counter-reset: counter;
    padding: 0;
    border-top: 1px solid rgb(209, 209, 209);
}
.select-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    counter-increment: counter;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(209, 209, 209);
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}
.select-list li:hover {
    background-color: rgb(232, 232, 232);
}

.select-list .select-name::before {
    content: counter(counter) ".";
    margin-right: 8px;
    color: var(--main-color);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 18px;
}
.select-list .selected {
    background-color: rgb(238, 238, 238);
}



/**
 * Arrow
 */
.arrow {
    --arrow-color: var(--main-color);
    --arrow-size: 12px;
    --arrow-width: 12px;
    --arrow-height: 1px;
    --arrow-space: 0;

    position: relative;
    width: var(--arrow-size);
    height: var(--arrow-size);
    cursor: pointer;
}
.arrow:before,
.arrow:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: var(--arrow-space);
    width: var(--arrow-width);
    height: var(--arrow-height);
    background-color: var(--arrow-color);
    transition: all 0.2s;
    transform-origin: left center;
}
.arrow:before {
    transform: rotate(35deg);
}
.arrow:after {
    transform: rotate(-35deg);
}
.arrow:hover:before,
.arrow:active:before {
    transform: rotate(25deg);
}
.arrow:hover:after,
.arrow:active:after {
    transform: rotate(-25deg);
}



/**
 * Close
 */
.close {
    --close-color: var(--main-color);
    --close-size: 12px;
    --close-width: 12px;
    --close-height: 1px;

    position: relative;
    width: var(--close-size);
    height: var(--close-size);
    cursor: pointer;
}
.close:before,
.close:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--close-size) / 2);
    left: 0;
    width: var(--close-width);
    height: var(--close-height);
    background-color: var(--close-color);
    transition: all 0.2s;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.close:hover:before,
.close:active:before {
    transform: rotate(35deg);
}
.close:hover:after,
.close:active:after {
    transform: rotate(-35deg);
}
